/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
	font-family: 'Inter Web';
	font-weight: 400;
	font-display: swap; /* Zorgt voor een correcte omwisseling als het font geladen is. */
	src: url('../fonts/Inter-Regular.woff2');
}

@font-face {
	font-family: 'Inter Web';
	font-weight: 600;
	font-display: swap; /* Zorgt voor een correcte omwisseling als het font geladen is. */
	src: url('../fonts/Inter-SemiBold.woff2');
}
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	--global-color-alpha-light: #4f95ff;
	--global-color-alpha: #3385ff;
	--global-color-alpha-x-dark: #3385ff4d;
	--global-color-alpha-dark: #2e77e6;
	--global-color-delta: #20223a;
	--global-color-bg: #f5f6fa;
	--global-color-beta: #ffffff;
	--global-color-gamma: LightGrey;
	--global-color-epsilon: #1b4186;
	--global-color-beta-dark: #e2e3e7;
	--global-color-gamma-dark: #606274;
	--global-color-gamma-xxx-dark: #000000;
	--global-color-gamma-light: Silver;
	--global-color-miauw: #999999;

	/* calc */
	--global-baseline: 8px;
	--global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */
	--global-whitespace-xs: calc(var(--global-whitespace) /4); /* = 6px */
	--global-whitespace-sm: calc(var(--global-whitespace) /2); /* = 12px */
	--global-whitespace-md: calc(var(--global-baseline) *2); /* = 16px */
	--global-whitespace-lg: 32px; /* = 32px */   
	--global-whitespace-xl: calc(var(--global-whitespace) * 2); /* = 48px */
	--global-whitespace-xxl: calc(var(--global-whitespace) * 3); /* = 72px */
	--global-whitespace-xxxl: calc(var(--global-whitespace) *4); /* = 96px */

}

/* CSS variables here */

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Inter Web', arial, sans-serif;
	color: var(--global-color-delta);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--global-color-bg);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--global-color-alpha);
	color: var(--global-color-beta);
	text-shadow: none;
}

::selection {
	background: var(--global-color-alpha);
	color: var(--global-color-beta);
	text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 var(--global-whitespace);
}

h2 {
	font-size: 32px;
	line-height: 40px;
	margin: 0 0 var(--global-whitespace);
}

h3 {
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 var(--global-whitespace);
}

ul,
ol {
	padding-left: var(--global-whitespace);
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: 32px;
	margin: 0 0 var(--global-whitespace);
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: var(--global-baseline);
}

hr {
	border: 0;
	height: 1px;
	background: var(--global-color-gamma);
	margin: 0 0 var(--global-whitespace);
}

a {
	color: var(--global-color-alpha);
	transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
	color: var(--global-color-alpha);
}

a:hover,
a:focus {
	color: var(--global-color-alpha-light);
}

label,
input {
	display: block;
}
/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-row--login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /* Altijd de hoogte van het zichtbare deel van het scherm*/
}

/* size modifiers */

.o-row--lg {
	padding-top: var(--global-whitespace-xl);
	padding-bottom: var(--global-whitespace);
}

.o-row--xl {
	padding-top: var(--global-whitespace-xxl);
	padding-bottom: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
	.o-row {
		padding-left: var(--global-whitespace-xl);
		padding-right: var(--global-whitespace-xl);
	}
}

@media (min-width: 992px) {
	.o-row--xl {
		padding-top: var(--global-whitespace-xxxl);
		padding-bottom: var(--global-whitespace-xxl);
	}
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 79.5em; /* 79.5 * 16px = 1272 */
	width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
	position: relative;
}

.o-section + .o-section {
	padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
	.o-section--lg + .o-section--lg,
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-xl);
	}
}

@media (min-width: 992px) {
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-xxl);
	}
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.o-layout__item {
	width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
	margin: 0 calc(var(--global-whitespace-sm)*-1);
}

.o-layout--gutter > .o-layout__item {
	padding: 0 var(--global-whitespace-sm);
}

.o-layout--gutter-sm {
	margin: 0 calc(var(--global-whitespace-xs)*-1);
}

.o-layout--gutter-sm > .o-layout__item {
	padding: 0 var(--global-whitespace-xs);
}

.o-layout--gutter-lg {
	margin: 0 calc(var(--global-whitespace)*-1);
}

.o-layout--gutter-lg > .o-layout__item {
	padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
	margin: 0 calc(var(--global-whitespace-xl)*-1);
}

.o-layout--gutter-xl > .o-layout__item {
	padding: 0 var(--global-whitespace-xl);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
	flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
	justify-content: flex-start;
}

.o-layout--justify-end {
	justify-content: flex-end;
}

.o-layout--justify-center {
	justify-content: center;
}

.o-layout--justify-space-around {
	justify-content: space-around;
}

.o-layout--justify-space-evenly {
	justify-content: space-evenly;
}

.o-layout--justify-space-between {
	justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
	align-items: flex-start;
}

.o-layout--align-end {
	align-items: flex-end;
}

.o-layout--align-center {
	align-items: center;
}

.o-layout--align-baseline {
	align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
	align-content: start;
}

.o-layout--align-content-end {
	align-content: end;
}

.o-layout--align-content-center {
	align-content: center;
}

.o-layout--align-content-space-around {
	align-content: space-around;
}

.o-layout--align-content-space-between {
	align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
	list-style: none;
	padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/
.c-logo {
	height: 24px;
	display: flex;
	justify-content: center;
	margin-bottom: var(--global-whitespace-xl);
}

.c-logo__symbol {
	display: block;
	height: 100%; /* Dus, de hoogte van de parent (c-logo) */
}

.c-logo__path--1 {
	fill: var(--global-color-delta);
}

.c-logo__path--2 {
	fill: var(--global-color-alpha);
}

.c-logo__path--3 {
	fill: var(--global-color-epsilon);
}
/*
    Component: Card
    ---
    Card with box shadow
*/

/*
    Component: Forms
    ---
    Everything form related here
*/
.c-form-field--option {
	display: flex;
	align-items: center;
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
	width: 100%;

	font-family: inherit;
	font-size: 16px;
	line-height: 24px;

	padding: calc(var(--global-baseline)+3) var(--global-whitespace-md); /* verticaal */

	border: 1px solid var(--global-color-beta-dark);
	border-radius: 4px;

	appearance: none;
	-webkit-appearance: none; /* moet wel een prefix hebben*/
}

.c-input:focus {
	outline: none;
	border-color: var(--global-color-alpha);
	box-shadow: h-offset v-offset blur spread color;
	box-shadow: 0 0 0 3px var(--global-color-alpha-x-dark);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: var(--global-baseline);
	color: var(--global-color-gamma-dark);
}

.c-label--option {
	margin-bottom: 0;
	margin-left: var(--global-baseline);
}

.c-password {
	text-align: center;
}

/* If a input is focused within the form-field class change te color of the label */

.c-form-field:focus-within .c-label {
}

/*
    Component: Button
    ---
    Class to put on form buttons or links
*/

.c-button {
	width: 100%;
	padding: 11px 0px;

	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: var(--global-color-beta);
	font-weight: 600;

	border: 1px solid var(--global-color-alpha-dark);

	border-radius: 3px;
	background: var(--global-color-alpha);

	outline: none;
	transition: all 0.1s ease-out;
}

.c-button:hover {
	background-color: var(--global-color-alpha-light);
}

.c-button:focus {
	background-color: var(--global-color-alpha);
	box-shadow: 0 0 0 3px var(--global-color-alpha-x-dark);
}

.c-button:active {
	background-color: var(--global-color-alpha-dark);
	box-shadow: none;
}

.c-button--block {
}

.c-card {
	background-color: var(--global-color-beta);
	border-radius: 3px;
	border: 1px solid var(--global-color-beta-dark);
	box-shadow: 0 2px 4px;
}

.c-card__body {
	padding: 48px;
	padding-top: 0;
}

.c-card__title {
	text-align: center;
	line-height: 24px;
	font-size: 18px;
	padding-top: var(--global-whitespace-xl);
	padding-bottom: var(--global-whitespace);
}

.c-card__footer {
	padding: var(--global-whitespace);
	text-align: center;
	border-top: 1px solid var(--global-color-beta-dark);
	width: 100%;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-base {
	color: var(--global-color-gamma-light);
}

.u-color-neutral-dark {
	color: var(--global-color-gamma-xxx-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
	padding-top: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: 8px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-mb-lg {
	margin-bottom: 32px !important;
}

.u-mb-xl {
	margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
	max-width: 27em !important;
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 63.5em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
	text-align: center;
}

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
	width: auto !important;
}

.u-1-of-2 {
	width: 50% !important;
}

.u-1-of-3 {
	width: 33.3333333333% !important;
}

.u-2-of-3 {
	width: 66.6666666667% !important;
}

.u-1-of-4 {
	width: 25% !important;
}

.u-3-of-4 {
	width: 75% !important;
}

.u-1-of-5 {
	width: 20% !important;
}

.u-2-of-5 {
	width: 40% !important;
}

.u-3-of-5 {
	width: 60% !important;
}

.u-4-of-5 {
	width: 80% !important;
}

.u-1-of-6 {
	width: 16.6666666667% !important;
}

.u-5-of-6 {
	width: 83.3333333333% !important;
}

@media (min-width: 576px) {
	.u-1-of-2-bp1 {
		width: 50% !important;
	}
	.u-1-of-3-bp1 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp1 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp1 {
		width: 25% !important;
	}
	.u-3-of-4-bp1 {
		width: 75% !important;
	}
	.u-1-of-5-bp1 {
		width: 20% !important;
	}
	.u-2-of-5-bp1 {
		width: 40% !important;
	}
	.u-3-of-5-bp1 {
		width: 60% !important;
	}
	.u-4-of-5-bp1 {
		width: 80% !important;
	}
	.u-1-of-6-bp1 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp1 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 768px) {
	.u-1-of-2-bp2 {
		width: 50% !important;
	}
	.u-1-of-3-bp2 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp2 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp2 {
		width: 25% !important;
	}
	.u-3-of-4-bp2 {
		width: 75% !important;
	}
	.u-1-of-5-bp2 {
		width: 20% !important;
	}
	.u-2-of-5-bp2 {
		width: 40% !important;
	}
	.u-3-of-5-bp2 {
		width: 60% !important;
	}
	.u-4-of-5-bp2 {
		width: 80% !important;
	}
	.u-1-of-6-bp2 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp2 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 992px) {
	.u-1-of-2-bp3 {
		width: 50% !important;
	}
	.u-1-of-3-bp3 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp3 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp3 {
		width: 25% !important;
	}
	.u-3-of-4-bp3 {
		width: 75% !important;
	}
	.u-1-of-5-bp3 {
		width: 20% !important;
	}
	.u-2-of-5-bp3 {
		width: 40% !important;
	}
	.u-3-of-5-bp3 {
		width: 60% !important;
	}
	.u-4-of-5-bp3 {
		width: 80% !important;
	}
	.u-1-of-6-bp3 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp3 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 1200px) {
	.u-1-of-2-bp4 {
		width: 50% !important;
	}
	.u-1-of-3-bp4 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp4 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp4 {
		width: 25% !important;
	}
	.u-3-of-4-bp4 {
		width: 75% !important;
	}
	.u-1-of-5-bp4 {
		width: 20% !important;
	}
	.u-2-of-5-bp4 {
		width: 40% !important;
	}
	.u-3-of-5-bp4 {
		width: 60% !important;
	}
	.u-4-of-5-bp4 {
		width: 80% !important;
	}
	.u-1-of-6-bp4 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp4 {
		width: 83.3333333333% !important;
	}
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: var(--global-color-gamma-xxx-dark) !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid var(--global-color-miauw);
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
